.novedades-titulo{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
}


.card-producto {
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.301);
  margin-right: 1rem;
  margin-left: 1%;
  @extend %card-rounded-bottom;

  }
  
.card-producto:hover{
    transform: scale(1.07);
}
.card-producto img{
    width: 100%;
}

.card-producto-descuento span{
    text-decoration: line-through;
    color:$color-rojo;
}

.card-producto-descuento{
    color: $color-azul;
    font-weight: 600;
}

.card-producto-button{
    width: 100%;
    background-color: $color-verde;
    color: $color-blanco;
    font-weight: 600;
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0.5rem;
    border-right: 0.5rem;
    cursor: pointer;

}

.card-precio {
    font-weight: 600;
}
.novedades-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}
.card-producto h3,.card-producto{
    margin-left: 1%;
}
.card-producto p,.card-producto{
    margin-left: 1%;
}

.nuestras-promos {
    color: $color-negro;
    font-weight: 3000 ;
    text-align: center;
}

.titulos-deportes{

    margin-left: 2rem;
    margin-top: 1rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;


}
.carousel-foto{

    width: 100%;
    height: 40rem;

    object-fit: cover ;
}