/*Variables*/
$color-blanco: #ffffff;
$color-negro: #000000;
$color-verde: green;
$color-verde-oscuro: darkgreen;
$color-azul: rgb(0, 0, 255);
$color-rojo: rgb(255, 0, 0);
$color-gris-footer: rgb(128, 128, 128);
$color-navbar: rgba(0, 0, 0, 0.5);
$color-overlay: rgba(0, 0, 0, 0.404);

$ancho-logo: 7rem;
$alto-logo: 7rem;
$ancho-logo-footer: 5rem;
$alto-logo-footer: 5rem;
$altura-navbar: 5rem;
$altura-header: 95vh;
$altura-carousel: 40rem;

$padding-boton: 10px 30px;
$ancho-boton: 15rem;